body {
  font-family: sans-serif;
}
div {
  border: 1px solid gray;
  width: 350px;
  box-shadow: 3px 1px 0px 0px gray;
}
.avatar {
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 385px;
  left: 20px;
}
h1,
p {
  margin-left: 100px;
}
